/*Extra for config page WYSIJA*/

p.submit{
    padding: 1em 1.4em;
}
p.title, span.title{
    font-size: 1.2em;
    margin: 0;
    color:#000;
}

#wysija-settings input[type="checkbox"], #wysija-settings input[type="radio"] {
    margin-right: 6px;
    vertical-align: baseline;
}
#wysija-settings .button-secondary{
    margin-left:6px;
}
#wysija-settings .form-table th {
    width:300px;
}

#wysija-settings .form-table th.row {
    border: 1px solid #AAAAAA;
}


#warning-msg-frequency {
    background-color: #FFFFE0;
    border-color: #E6DB55;
}

#warning-msg-frequency {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 15px 2px;
    padding: 0 0.6em;
}
#warning-msg-frequency ul{
    margin:0;
}