html {
    background-color: #fff;
}
.header {
    background-color: #fff;
}
body {
    color:#585757;
    font-family: Arial;
    font-size: 12px;
    background-color: #fff;
}
.footer {
    color: #797979;
    font-family: Arial;
    font-size: 12px;
    background-color: #f6f3f3;
}
h1 {
    color: #585757;
    font-family: Arial;
    font-size: 30px;
}
h2 {
    color: #585757;
    font-family: Arial;
    font-size: 28px;
}
h3 {
    color: #585757;
    font-family: Arial;
    font-size: 24px;
}
a {
    color: #040404;
    font-family: Arial;
    font-size: 12px;
    text-decoration:'underline';
}
.divider {
    border-color: #000;
    border-size: 1px;
    border-style: solid;
}