html {
    background-color: #e04c65;
}
.header {
    background-color: transparent;
}
body {
    color:#7a7a7a;
    font-family: Arial;
    font-size: 12px;
    background-color: #fff;
}
.footer {
    color: #fff;
    font-family: Verdana;
    font-size: 12px;
    background-color: #e04c65;
}
h1 {
    color: #c8de31;
    font-family: Arial;
    font-size: 30px;
}
h2 {
    color: #c8de31;
    font-family: Arial;
    font-size: 28px;
}
h3 {
    color: #c8de31;
    font-family: Arial;
    font-size: 24px;
}
a {
    color: #c8de31;
    font-family: Arial;
    font-size: 12px;
    text-decoration:'underline';
}
.divider {
    border-color: #b3b3b3;
    border-size: 1px;
    border-style: solid;
}