html {
    background-color: #acd3d3;
}
.header {
    background-color: #acd3d3;
}
body {
    color:#3f3f3f;
    font-family: Arial;
    font-size: 12px;
    background-color: #fff;
}
.footer {
    color: #3f3f3f;
    font-family: Verdana;
    font-size: 12px;
    background-color: #e04c65;
}
h1 {
    color: #acd3d3;
    font-family: Arial;
    font-size: 30px;
}
h2 {
    color: #acd3d3;
    font-family: Arial;
    font-size: 28px;
}
h3 {
    color: #acd3d3;
    font-family: Arial;
    font-size: 24px;
}
a {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    text-decoration:'underline';
}
.divider {
    border-color: #eeeeee;
    border-size: 2px;
    border-style: dashed;
}