#mainNav,#fieldset-config,#table-buttons{
    display:none;
}

#labels-columns td{
    height:20px;
}
.step5 button.inserttmpl, .step5 button.share{
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}

.overlay{
    background-color:#888;
    opacity:0.5;
    filter : alpha(opacity=50);
    position:absolute;
    width:100%;
    height:100%;
}
.cards span.pay-block input,.compat span.pay-block input{
    margin-left: 6px;
    margin-top: 9px;
}

/*cards selection*/
.cards span.pay-block,.compat span.pay-block {
    background: url("") repeat scroll 0 0 #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    float: none;
    height: auto;
    margin: 2px;
    padding: 3px;
    vertical-align: top;
    width: 150px;
    overflow: hidden;
    cursor:pointer;
    border: 1px solid transparent;
}

.cards span.pay-block:hover,.compat span.pay-block:hover{
    background: url("") repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
}

.cards span.pay-block label,.compat span.pay-block label{
    display: inline-block;
    margin: 3px;
    width: 57px;
}

.cards span,.compat span{
	color:#0562bb;
	display:inline-block;
        float:left;
}



.cards span { background: url(../images/cards/sprite-payments-pel.png) 0px 0px;width:45px;height:31px;}
.cards span.simple { background: url() 0px 0px;width:auto;height:auto;float:none;}
.cards span.depot-visaelectron {
 background-position: 0px 0px;
}
.cards span.depot-webmoney{
 background-position: -50px 0px;
}
.cards span.depot-visa {
 background-position: -100px 0;
}
.cards span.depot-usemywallet {
 background-position: -150px 0;
}
.cards span.depot-ukash {
 background-position: -200px 0;
}
.cards span.depot-speedcard {
 background-position: -250px 0;
}
.cards span.depot-sofort {
 background-position: -0px -31px;
}
.cards span.depot-postepay {
 background-position: -50px -31px;
}
.cards span.depot-paysafecard {
 background-position: -100px -31px;
}
.cards span.depot-paypal{
 background-position: -150px -31px;
}
.cards span.depot-p2p {
 background-position: -200px -31px;
}
.cards span.depot-neteller {
 background-position: -250px -31px;
}
.cards span.depot-mypaylinq {
 background-position: 0px -62px;
}
.cards span.depot-mycitadel {
 background-position:-50px -62px;
}
.cards span.depot-moneytransfer {
 background-position:-100px -62px;
}
.cards span.depot-moneyorder {
 background-position:-150px -62px;
}
.cards span.depot-moneybookers {
 background-position:-200px -62px;
}
.cards span.depot-mastercard {
 background-position:-250px -62px;
}
.cards span.depot-maestro{
 background-position:0px -93px;
}
.cards span.depot-kalixa {
 background-position:-50px -93px;
}
.cards span.depot-ipoint {
 background-position:-100px -93px;
}
.cards span.depot-goldpay {
 background-position:-150px -93px;
}
.cards span.depot-giropay {
 background-position:-200px -93px;
}
.cards span.depot-ezvouchers {
 background-position:-250px -93px;
}
.cards span.depot-ewalletxpress {
 background-position:0px -124px;
}
.cards span.depot-ecocard {
 background-position:-50px -124px;
}
.cards span.depot-banktransfer {
 background-position:-100px -124px;
}
.cards span.depot-dinersclub{
 background-position:-150px -124px;
}
.cards span.depot-digicert {
 background-position:-200px -124px;
}
.cards span.depot-clickandbuy {
 background-position:-250px -124px;
}
.cards span.depot-click2pay {
 background-position:0px -155px;
}
.cards span.depot-check {
 background-position:-50px -155px;
}
.cards span.depot-cb {
 background-position:-100px -155px;
}
.cards span.depot-bankwire{
 background-position:-150px -155px;
}
.cards span.depot-b2b {
 background-position:-200px -155px;
}
.cards span.depot-amex {
 background-position:-250px -155px;
}

/*new cards*/
.cards span.depot-neosurf {
 background-position:0 -186px;
}
.cards span.depot-virementbancaire {
 background-position:-50px -186px;
}
.cards span.depot-clickandbuy2 {
 background-position:-100px -186px
}
.cards span.depot-paysafe {
 background-position:-150px -186px;
}
.cards span.depot-ebleue {
 background-position:-200px -186px;
}
.cards span.depot-ticketpremium {
 background-position:-252px -186px;
}
.cards span.depot-hipay {
 background-position:-2px -218px;
}


/*Compat*/
.compat span { background: url(../images/compats/sprite-compats.png) 0px 0px;width:45px;height:31px;}
.compat span.simple { background: url() 0px 0px;width:auto;height:auto;float:none;}

.compat span.depot-windows {
 background-position: 0px 0px;
}
.compat span.depot-mac{
 background-position: -50px 0px;
}
.compat span.depot-linux {
 background-position: -100px 0;
}
.compat span.depot-flash {
 background-position: -150px 0;
}
.compat span.depot-phone {
 background-position: -200px 0;
}
.compat span.depot-iphone {
 background-position: -250px 0;
}
.compat span.depot-palm {
 background-position: -0px -31px;
}
.compat span.depot-htc {
 background-position: -50px -31px;
}