<!-- TODO -->
<div style="clear:both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;">
<table style="border-collapse: collapse; border-spacing: 0; margin: auto;" width="{#block_width|default:564}"><tr><td style="clear:both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;" width="{#block_width|default:564}">
    <table align="{#alignment}" width="{#width}" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0;">
        <tr valign="top">
            {foreach name="#items" key="j" value="image"}{include file="templates/email/block_gallery_item.html"}{/foreach}
        </tr>
    </table>
</td></tr></table></div>