{if $image_alignment != 'center'}<!--[if gte mso 9]><table height="{#image.height}" align="{$image_alignment}" width="{#image.width}" style="border-collapse: collapse; border-spacing: 0; float:{$image_alignment}; margin: auto;"><tr><td style="clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;"><![endif]-->{/if}
{if $image_alignment == 'center'}<table align="{$image_alignment}" style="border-collapse: collapse; border-spacing: 0; margin: auto;" width="{#image.width}"><tr><td valign="top" height="{#image.height}" width="{#image.width}" style="clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;">{/if}
<div class="wysija-image-container align-{$image_alignment}" style="height:{#image.height}px;max-height:{#image.height}px;overflow:hidden;">
{if #image.url}<a href="{#image.url|url_decode}" style="display:block;height:{#image.height}px;width:{#image.width}px;">{/if}
<img src="{#image.src}" height="{#image.height}" alt="{#image.alt|url_decode|htmlentities}" width="{#image.width}" style="border:0;line-height:0.1em;" />
{if #image.url}</a>{/if}
</div>
{if $image_alignment == 'center'}</td></tr></table>{/if}
{if $image_alignment != 'center'}<!--[if gte mso 9]></td></tr></table><![endif]-->{/if}