{if #posts|count > 0}
    {loop name="#posts"}
        {if $params.image_alignment == 'alternate' && $last_alignment}
            {if $last_alignment == 'left'}
                {set var="$image_alignment" value="right"}
            {/if}
            {if $last_alignment == 'right'}
                {set var="$image_alignment" value="left"}
            {/if}
            {set var="$last_alignment" value="$image_alignment"}
        {/if}
        {if $params.image_alignment == 'alternate' && !$last_alignment}
            {set var="$image_alignment" value="left"}
            {set var="$last_alignment" value="left"}
        {/if}
        {if ! $image_alignment}{set var="$image_alignment" value="$params.image_alignment"}{/if}

        {include file="templates/email/block_content.html"}

        {if ! #IS_LAST && $params.divider.src}
            <div style="clear:both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;">
                <table style="border-collapse: collapse; border-spacing: 0; margin: auto;" width="554">
                    <tr>
                        <td style="clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;" width="{$block_width|default:564}">
                            <div class="wysija-divider-container">
                                <img src="{$params.divider.src}" height="{$params.divider.height}" width="{$params.divider.width}" alt="" style="border:0" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        {/if}
    {/loop}
{/if}
{if ! #posts && $params.nopost_message}
<div style="clear:both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;">
    <table style="border-collapse: collapse; border-spacing: 0; margin: auto;" width="564">
        <tr><td colspan="2" style="clear:both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;" width="564">
            <p class="align-center">{$params.nopost_message|base64_decode}</p>
        </td></tr>
    </table>
</div>
{/if}